/* Основные стили */
.root {
    -fx-font-family: 'Arial';
    -fx-focus-color: transparent;
}

/* Левая панель с логотипом */
.logo-container {
    -fx-background-color: linear-gradient(to bottom, #2c3e50, #3498db);
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 40 0;
}

.logo-text {
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 2,0,0,1);
}

.logo-subtext {
    -fx-fill: #ecf0f1;
    -fx-font-style: italic;
}

.form-container {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-alignment: top-center;
}

.tab-container {
    -fx-alignment: center;
    -fx-spacing: 0;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(255, 255, 255, 0.2);
}

.tab-button {
    -fx-background-color: transparent;
    -fx-text-fill: #bdc3c7;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 15 40;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent;
}

.tab-buttonAct {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 15 40;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: transparent;
}

.tab-button.active {
    -fx-text-fill: #3498db;
    -fx-border-color: #3498db;
}

.tab-button:hover {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.form-content {
    -fx-padding: 40;
}

.form-title {
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 2,0,0,1);
}

.input-group {
    -fx-padding: 0 50;
}

.input-label {
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 14px;
}

.form-input {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 15;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-width: 1;
    -fx-pref-width: 300;
}

.form-input:focused {
    -fx-border-color: #3498db;
    -fx-effect: dropshadow(gaussian, rgba(52, 152, 219, 0.3), 10, 0, 0, 0);
}

.submit-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10 30;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-pref-width: 300;
}

.submit-button:hover {
    -fx-background-color: #2980b9;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5,0,0,1);
}

.form-link {
    -fx-text-fill: #bdc3c7;
    -fx-font-size: 12px;
    -fx-underline: true;
    -fx-background-color: transparent;
}

.form-link:hover {
    -fx-text-fill: #3498db;
    -fx-cursor: hand;
}