.paneWithFunctions{
    -fx-background-color: rgba(255, 255, 255, 0.92);
}

.paneWithFunctions Button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.paneWithFunctions Button:hover{
    -fx-text-fill: red;
    -fx-translate-x: -2px;
    -fx-translate-y: -2px;
    -fx-font-size: 16px;
}

.low-row {
    -fx-background-color: #ffdddd;
    -fx-text-fill: red;
}